# Ignore everything in this directory
*
# Except these files
!.gitignore
!README.md
!LICENSE
!pyproject.toml
!anki_connect.py

!tools/
!docs/
!make_doc.py
!make_api.py
!requirements.txt
!anki_connect.json.md
!anki_connect.python.md
!anki_connect.header.md

